.header-div {
    background: transparent url('../images/me.png') no-repeat center;
    background-size: cover;
}
footer {
    background: transparent url('../images/contact-m.jpg') no-repeat center;
    background-size: cover;
}